<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ output extension="txt" #>
<#@ include file="T4Toolbox.tt" #>
<#
// <copyright file="Script1.tt" company="Microsoft">
//  Copyright © Microsoft. All Rights Reserved.
// </copyright>


#>
